/* Global Styles */
:root {
	/* Colors */
	--primary-color: #ffcf4b;
	--secondary-color: #003566;
	--tertiary-color: #0066ff;
	--bg-dark: #000000;
	--text-dark: #333333;
	--bg-light: #ffffff;
	--text-light: #ffffff;
	--light-grey: #f0f0f0;
	--dark-grey: #555555;

	/* Border */
	--border-light: 1px solid #f3f4f7;
	--border-mid: 1px solid #e5e7eb;
	--border-medium: 1px solid #73707e4f;
	--border-dark: 1px solid #73707e85;
	--border-black: 1px solid #333333;
	--border-primary: 1px solid #ffcf4b;
	--border-secondary: 1px solid #003566;

	/* Font */
	--font-tiny: 0.7rem;
	--font-xsmall: 0.8rem;
	--font-small: 0.9rem;
	--font-mid: 1rem;
	--font-medium: 1.3rem;
	--font-big: 1.5rem;
	--font-large: 3rem;

	/* Shadow */
	--shadow-primary: 0 5px 30px 5px rgba(66, 71, 76, 0.1);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
	scroll-behavior: smooth;
}

body {
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: "Poppins", sans-serif;
	font-display: swap;
	height: 100vh;
	color: var(--text-dark);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--text-dark);
	cursor: pointer;
}

h1,
h2,
h3 {
	letter-spacing: -1px;
}

h3 {
	font-weight: 500;
}

.visually-hidden {
	display: hidden;
}

button {
	font-family: "Poppins", sans-serif;
	border: none;
	outline: none;
	background: transparent;
	cursor: pointer;
}

.logo {
	font-weight: 700;
	font-size: var(--font-medium);
}

.logo img {
	display: block;
	width: 37px;
	margin-right: 0.3rem;
}

/* Highlight */
.highlight {
	color: var(--primary-color);
}

.animateY {
	animation: animateY infinite 1s alternate-reverse ease-in-out;
}

@keyframes animateY {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(10px);
	}
}

/* Button */
.btn {
	display: inline-block;
	cursor: pointer;
	padding: 0.5rem 1.7rem;
	border-radius: 3px;
	transition: 0.3s ease-in-out;
}

.btn-primary {
	background: var(--primary-color);
	color: var(--bg-dark);
	font-weight: 500;
}
.btn-primary:hover {
	opacity: 0.8;
}

.btn-secondary {
	background: var(--secondary-color);
	color: #fff;
}

.btn-light {
	background: var(--white);
	color: var(--text-dark);
	border: var(--border-mid);
}

.btn-light:hover {
	box-shadow: 1px 2px 8px var(--light-grey);
}

.btn-tertiary {
	border: var(--border-medium);
}
